# IDE and OS files
.DS_Store
.idea/
*.code-workspace

# Environment variables
*.env
.env.*

# Ignore the local properties file to prevent secret leaks
backend/src/main/resources/application.properties